# Importing Libraries

Note : Sympy Library Converts the string to mathematical variable , So instead of 2*'x' = xx , it is 2x

In [1]:
import pandas as pd
import numpy as np
import string
import sympy as sym

# Importing the sheet of predicted price and quanitity needed

In [2]:
df=pd.read_csv("Predicted Prices and Quantity.csv")
df

    Month  Predicted_Price  Quantity_Needed
0  Jan-19            10000              100
1  Feb-19            12000               80
2  Mar-19            11500               60
3  Apr-19            10700              280
4  May-19            11300              150
5  Jun-19            12000               70

# Importing the sheet of assumptions, which explains different costs variables

In [3]:
df2=pd.read_csv("assumptions.csv",index_col=0)
df2

                             Value                   Unit
Element
Total Quantity Needed          740                    Ton
Storage Cost                   150       LE / Month / Ton
Handling Cost                  200               LE / Ton
Taxes & Insurance              100               LE / Ton
Damage, theft                   1%  of Item Price / Month
Order Cost                    -100               LE / Ton
Interest Rate          0.008333333                    NaN
Purchase Cost                 0.02           Percent / PO
Inventory Size                 400                    NaN

Function to Add the Variables of Quantites to be ordered

In [4]:
def add_quantities(df):
    df['Quantity to be ordered']=None
    for i in range(len(df)):
        df['Quantity to be ordered'][i]=sym.Symbol('x'+str(i))
        
    return df

In [5]:
add_quantities(df)

<ipython-input-4-a4fa82a57444>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity to be ordered'][i]=sym.Symbol('x'+str(i))

    Month  Predicted_Price  Quantity_Needed Quantity to be ordered
0  Jan-19            10000              100                     x0
1  Feb-19            12000               80                     x1
2  Mar-19            11500               60                     x2
3  Apr-19            10700              280                     x3
4  May-19            11300              150                     x4
5  Jun-19            12000               70                     x5

Start Adding Columns of Different costs as functions of "Quantity to be Ordered" Column

In [6]:
df['Quantity Left']=None

df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left
0,Jan-19,10000,100,x0,None
1,Feb-19,12000,80,x1,None
2,Mar-19,11500,60,x2,None
3,Apr-19,10700,280,x3,None
4,May-19,11300,150,x4,None
5,Jun-19,12000,70,x5,None

The First row of quantity left is different from the other rows

In [7]:
df['Quantity Left'][0]=df['Quantity to be ordered'][0]-df['Quantity_Needed'][0]
df

<ipython-input-7-23b965554c57>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity Left'][0]=df['Quantity to be ordered'][0]-df['Quantity_Needed'][0]

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left
0,Jan-19,10000,100,x0,x0 - 100
1,Feb-19,12000,80,x1,None
2,Mar-19,11500,60,x2,None
3,Apr-19,10700,280,x3,None
4,May-19,11300,150,x4,None
5,Jun-19,12000,70,x5,None

In [8]:
for i in range(1,len(df)):
    df['Quantity Left'][i]=df['Quantity Left'][i-1]+df['Quantity to be ordered'][i]-df['Quantity_Needed'][i]
df

<ipython-input-8-f65fbd700453>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity Left'][i]=df['Quantity Left'][i-1]+df['Quantity to be ordered'][i]-df['Quantity_Needed'][i]

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left
0,Jan-19,10000,100,x0,x0 - 100
1,Feb-19,12000,80,x1,x0 + x1 - 180
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740

In [9]:
df['Material Cost']=df['Quantity to be ordered']*df['Predicted_Price']
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5

In [10]:
df['Storage Cost']=df['Quantity Left']*float(df2.iloc[1,0])
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...

In [11]:
df['Handling Cost']=df['Quantity to be ordered']*float(df2.iloc[2,0])
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5

In [12]:
df['Taxes and Insurance']=df['Quantity to be ordered']*float(df2.iloc[3,0])
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5

In [13]:
df['Damage Cost']=df['Predicted_Price']*df['Quantity Left']*(float(df2.iloc[4,0].replace('%',''))/100)
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...

In [14]:
df['Purchase Cost']=df['Predicted_Price']*df['Quantity to be ordered']*float(df2.iloc[7,0])
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost,Purchase Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0,200.0*x0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0,240.0*x1
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0,230.0*x2
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...,214.0*x3
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...,226.0*x4
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...,240.0*x5

In [15]:
df['Ordering Cost']=df['Quantity to be ordered']*float(df2.iloc[5,0])
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost,Purchase Cost,Ordering Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0,200.0*x0,-100.0*x0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0,240.0*x1,-100.0*x1
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0,230.0*x2,-100.0*x2
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...,214.0*x3,-100.0*x3
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...,226.0*x4,-100.0*x4
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...,240.0*x5,-100.0*x5

In [16]:
df['Total Cost']=df['Material Cost']+df['Storage Cost']+df['Handling Cost']+df['Taxes and Insurance']+df['Damage Cost']+df['Purchase Cost']+df['Ordering Cost']
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost,Purchase Cost,Ordering Cost,Total Cost
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0,200.0*x0,-100.0*x0,10650.0*x0 - 25000.0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0,240.0*x1,-100.0*x1,270.0*x0 + 12710.0*x1 - 48600.0
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0,230.0*x2,-100.0*x2,265.0*x0 + 265.0*x1 + 12195.0*x2 - 63600.0
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...,214.0*x3,-100.0*x3,257.0*x0 + 257.0*x1 + 257.0*x2 + 11371.0*x3 - ...
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...,226.0*x4,-100.0*x4,263.0*x0 + 263.0*x1 + 263.0*x2 + 263.0*x3 + 11...
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...,240.0*x5,-100.0*x5,270.0*x0 + 270.0*x1 + 270.0*x2 + 270.0*x3 + 27...

In [17]:
df['Present Value']=None
df

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost,Purchase Cost,Ordering Cost,Total Cost,Present Value
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0,200.0*x0,-100.0*x0,10650.0*x0 - 25000.0,None
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0,240.0*x1,-100.0*x1,270.0*x0 + 12710.0*x1 - 48600.0,None
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0,230.0*x2,-100.0*x2,265.0*x0 + 265.0*x1 + 12195.0*x2 - 63600.0,None
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...,214.0*x3,-100.0*x3,257.0*x0 + 257.0*x1 + 257.0*x2 + 11371.0*x3 - ...,None
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...,226.0*x4,-100.0*x4,263.0*x0 + 263.0*x1 + 263.0*x2 + 263.0*x3 + 11...,None
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...,240.0*x5,-100.0*x5,270.0*x0 + 270.0*x1 + 270.0*x2 + 270.0*x3 + 27...,None

In [18]:
1+float(df2.iloc[6,0].replace('%',''))

1.008333333

Covert all the costs to the present value to compare different Hypothesis as an apple to an apple

In [19]:

for i in range(len(df)):
    df['Present Value'][i]=df['Total Cost'][i]/(1+float(df2.iloc[6,0].replace('%','')))**i
df

<ipython-input-19-1d1e40c7e319>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Present Value'][i]=df['Total Cost'][i]/(1+float(df2.iloc[6,0].replace('%','')))**i

,Month,Predicted_Price,Quantity_Needed,Quantity to be ordered,Quantity Left,Material Cost,Storage Cost,Handling Cost,Taxes and Insurance,Damage Cost,Purchase Cost,Ordering Cost,Total Cost,Present Value
0,Jan-19,10000,100,x0,x0 - 100,10000*x0,150.0*x0 - 15000.0,200.0*x0,100.0*x0,100.0*x0 - 10000.0,200.0*x0,-100.0*x0,10650.0*x0 - 25000.0,10650.0*x0 - 25000.0
1,Feb-19,12000,80,x1,x0 + x1 - 180,12000*x1,150.0*x0 + 150.0*x1 - 27000.0,200.0*x1,100.0*x1,120.0*x0 + 120.0*x1 - 21600.0,240.0*x1,-100.0*x1,270.0*x0 + 12710.0*x1 - 48600.0,267.768595129841*x0 + 12604.9586818529*x1 - 48...
2,Mar-19,11500,60,x2,x0 + x1 + x2 - 240,11500*x2,150.0*x0 + 150.0*x1 + 150.0*x2 - 36000.0,200.0*x2,100.0*x2,115.0*x0 + 115.0*x1 + 115.0*x2 - 27600.0,230.0*x2,-100.0*x2,265.0*x0 + 265.0*x1 + 12195.0*x2 - 63600.0,260.637934739634*x0 + 260.637934739634*x1 + 11...
3,Apr-19,10700,280,x3,x0 + x1 + x2 + x3 - 520,10700*x3,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 - 78...,200.0*x3,100.0*x3,107.0*x0 + 107.0*x1 + 107.0*x2 + 107.0*x3 - 55...,214.0*x3,-100.0*x3,257.0*x0 + 257.0*x1 + 257.0*x2 + 11371.0*x3 - ...,250.680614689771*x0 + 250.680614689771*x1 + 25...
4,May-19,11300,150,x4,x0 + x1 + x2 + x3 + x4 - 670,11300*x4,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x4,100.0*x4,113.0*x0 + 113.0*x1 + 113.0*x2 + 113.0*x3 + 11...,226.0*x4,-100.0*x4,263.0*x0 + 263.0*x1 + 263.0*x2 + 263.0*x3 + 11...,254.412972383977*x0 + 254.412972383977*x1 + 25...
5,Jun-19,12000,70,x5,x0 + x1 + x2 + x3 + x4 + x5 - 740,12000*x5,150.0*x0 + 150.0*x1 + 150.0*x2 + 150.0*x3 + 15...,200.0*x5,100.0*x5,120.0*x0 + 120.0*x1 + 120.0*x2 + 120.0*x3 + 12...,240.0*x5,-100.0*x5,270.0*x0 + 270.0*x1 + 270.0*x2 + 270.0*x3 + 27...,259.025871475531*x0 + 259.025871475531*x1 + 25...

This is the function of the total price that we will need to minimize it using Sklearn.Optimize Algorithm

In [20]:
total_price = df['Present Value'].sum()
total_price

11942.5259884188*x0 + 13629.7160751418*x1 + 12758.3821534543*x2 + 11604.8367801918*x3 + 11856.5814833064*x4 + 12193.4030609407*x5 - 628241.207488722

Covert the function from sympy data type to string, to manipulate the string and change each X with a subscription of initial guess list 
So x0 will be x[0] ... etc

In [21]:
eqn = str(total_price)
eqn

'11942.5259884188*x0 + 13629.7160751418*x1 + 12758.3821534543*x2 + 11604.8367801918*x3 + 11856.5814833064*x4 + 12193.4030609407*x5 - 628241.207488722'

In [22]:
def replacement(string):
    for i in range(len(df)):
        string=string.replace('x{}'.format(i),'x[{}]'.format(i))
    return string

In [23]:
eqn=replacement(eqn)
eqn

'11942.5259884188*x[0] + 13629.7160751418*x[1] + 12758.3821534543*x[2] + 11604.8367801918*x[3] + 11856.5814833064*x[4] + 12193.4030609407*x[5] - 628241.207488722'

In [24]:
parameters=list(df['Quantity to be ordered'].values)
parameters

[x0, x1, x2, x3, x4, x5]

In [25]:
storage_capacity=int(df2.Value[-1])
storage_capacity

400

In [26]:
total_qty=int(df2.Value[0])
total_qty

740

Here we need to define some constraints for the Quantity to be ordered variables :
1. Quantity left should be Positive ( more_const ) list
2. Quantity left should be less than the storage size ( less_const ) list

Note : We need the function always positive, for example x0+x1 >0

In [27]:
# Constraints that we order more than or equal we need , Quantity left >=0

more_const=list(df['Quantity Left'])
more_const

[x0 - 100,
 x0 + x1 - 180,
 x0 + x1 + x2 - 240,
 x0 + x1 + x2 + x3 - 520,
 x0 + x1 + x2 + x3 + x4 - 670,
 x0 + x1 + x2 + x3 + x4 + x5 - 740]

In [28]:
# Constraints that we order less than or equal inventory size
less_const=[]

for i in list(df['Quantity Left']):
    less_const.append(-i+storage_capacity)
    
less_const

[500 - x0,
 -x0 - x1 + 580,
 -x0 - x1 - x2 + 640,
 -x0 - x1 - x2 - x3 + 920,
 -x0 - x1 - x2 - x3 - x4 + 1070,
 -x0 - x1 - x2 - x3 - x4 - x5 + 1140]

apply the replacement function again on each element of both lists to change the variables to subscription

In [29]:
more_const2=[]
for i in more_const:
    i=replacement(str(i))
    more_const2.append(i)
more_const2

['x[0] - 100',
 'x[0] + x[1] - 180',
 'x[0] + x[1] + x[2] - 240',
 'x[0] + x[1] + x[2] + x[3] - 520',
 'x[0] + x[1] + x[2] + x[3] + x[4] - 670',
 'x[0] + x[1] + x[2] + x[3] + x[4] + x[5] - 740']

In [30]:
less_const2=[]
for i in less_const:
    i=replacement(str(i))
    less_const2.append(i)
less_const2

['500 - x[0]',
 '-x[0] - x[1] + 580',
 '-x[0] - x[1] - x[2] + 640',
 '-x[0] - x[1] - x[2] - x[3] + 920',
 '-x[0] - x[1] - x[2] - x[3] - x[4] + 1070',
 '-x[0] - x[1] - x[2] - x[3] - x[4] - x[5] + 1140']

append the two constraints lists as one list

In [31]:
all_const=more_const2+less_const2
all_const

['x[0] - 100',
 'x[0] + x[1] - 180',
 'x[0] + x[1] + x[2] - 240',
 'x[0] + x[1] + x[2] + x[3] - 520',
 'x[0] + x[1] + x[2] + x[3] + x[4] - 670',
 'x[0] + x[1] + x[2] + x[3] + x[4] + x[5] - 740',
 '500 - x[0]',
 '-x[0] - x[1] + 580',
 '-x[0] - x[1] - x[2] + 640',
 '-x[0] - x[1] - x[2] - x[3] + 920',
 '-x[0] - x[1] - x[2] - x[3] - x[4] + 1070',
 '-x[0] - x[1] - x[2] - x[3] - x[4] - x[5] + 1140']

we need to put each constraint as a form of dictionary and all the constrants as a tuple 

the dictionary of the constraint should be { 'type' : 'eq or ineq' , 'fun' : lambda x : the equation

In [39]:
con=[]
x=[]
for i in all_const:
    single_con={'type': 'ineq','fun': eval('lambda x:{}'.format(i))}
    con.append(single_con)
con.append({'type': 'eq','fun': lambda x: sum(x)-total_qty})

con_tuple=tuple(con)
con_tuple

({'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'ineq', 'fun': <function __main__.<lambda>(x)>},
 {'type': 'eq', 'fun': <function __main__.<lambda>(x)>})

In [44]:
import scipy.optimize as optimize

def f(x):
    #df['Quantity to be ordered'].values = params # <-- for readability you may wish to assign names to the component variables
    return eval(eqn)

initial_guess = [storage_capacity/6, storage_capacity/6,storage_capacity/6,storage_capacity/6,storage_capacity/6,storage_capacity/6]

bound= ((df['Quantity_Needed'][0],storage_capacity+df['Quantity_Needed'][0]),(0,2*storage_capacity),(0,2*storage_capacity),(0,2*storage_capacity),(0,2*storage_capacity),(0,2*storage_capacity))
result = optimize.minimize(f, initial_guess,bounds=bound,constraints =con_tuple)
if result.success:
    fitted_params = result.x
    print(fitted_params)
else:
    raise ValueError(result.message)

[2.39999998e+02 3.22863453e-06 2.00402077e-06 4.99999996e+02
 3.79628049e-12 1.20872159e-06]

In [45]:
list(fitted_params)

[239.9999983952898,
 3.2286345308498332e-06,
 2.0040207665805267e-06,
 499.99999608114905,
 3.796280492557407e-12,
 1.2087215934527559e-06]

In [46]:
Qty=[]
for i in list(fitted_params):
    Qty.append(int(round(i,0)))
Qty

[240, 0, 0, 500, 0, 0]